@tailwind base; /* This is the default base styles */
@tailwind components; /* This is the default component styles */
@tailwind utilities; /* This is the default utility styles */

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important; /* important to override the default width */
}


.rdrCalendarWrapper {
  width: 100% !important; /* important to override the default width */
  font-size: 16px !important;
}
